
li {
    list-style:none;
}

.social img{
    width:1em;
    margin-right:0.5em

}
.social a{
    cursor: pointer;
    text-decoration:none;
    color: white
}
.social ul{
    display: flex;
    flex-direction: column;
    
}
.social li{
    display: flex;
    flex-direction: row;
    margin-top: 1em;

}
.pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 20px 200px;
    margin-left:150px;
}
.left-side{
    margin:0px 50px;
    color:grey;
    font-weight: 500;
    background-color: white;
    
}
.left-side h2{
    color:#2d7788
}
.left-side li{
    margin-bottom: 10px;
}
.left-side img{
    filter: invert(42%) sepia(10%) saturate(2476%) hue-rotate(144deg) brightness(92%) contrast(90%);
    width:2em;
    height:2em;
    margin-top:1em;
    margin-right:0.5em
}
.left-side .heading {
    display: flex;
    flex-direction: row;
}
.left-side .project{
    display: flex;
    flex-direction: row;
}
.left-side .project span{
    color: #327a8b;
    margin-top:15px;
    font-weight:600
}
.left-side .project p{
    margin-left:3px
}
.profile{
    background: #48359a;
    margin-top:-20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px 44px;
    padding-bottom:0px
}

.profile h1{
    margin-top:10px
}
.profile h4{
    margin-top: -20px;
    font-weight: 500;
}


.history{
    background: #5a42c0;
    margin-bottom: -20px;
    padding-right: 30px;
    padding-left: 11px;
    padding-bottom: 10px;
    height:100%
}
.right-side{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* margin-bottom: -100px; */
}
.history img{

filter: invert(100%) sepia(2%) saturate(18%) hue-rotate(243deg) brightness(104%) contrast(101%);

}

.right-side li{
    margin-left: -20px;
}

.right-side h3{
    margin-left: 20px;
}

.html-css, .javascript {
    display: flex;
    flex-direction: row;
}
.skill-container{
    width:400px;
    background-color:#f5f5f5 ;
    border:1px solid; 
    border-radius:2px;
    margin-left:100px;
    height:10px;
    margin-top:20px
}

.skills p{
    font-weight: 600;
    color:#5f6875
}
.proficiency{
    padding-top: 10px;
}

.html{
    width:90%;
    background-color:#686acd ;
}

.js{
    width:60%;
    background-color:#686acd
}

.education, .languages{
    margin-top:50px
}

.education h4{
    margin-bottom: 5px;
}

.education span, .languages span, .profile h4{
    color:#b6aae3
}
.exp span{
    color:#a1b3c9
}


.exp .duration{
    float: right;
    margin-top:-39px 
}